# Q1

"""1.	In the below elements which of them are values or an expression? 
eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+
6 
"""

value=('hello', -87.8, 6)

expression=(*, -, /, +)

# Q2

"""What is the difference between string and variable?"""

var1="string is a sequence of characters, in programing language using with enclosed with double quotes."
#'variable is a symbol or letter that used to assign the values or represent values by a variable. var1 is a variable'
#variable contain the diffent type of variable.

# Q3

"""3. Describe three different data types."""

#1 list 
''' List containg multiple data type like numeric, string, boolean,etc. like['name',22,2.5,True] and it is mutable, can change values from list.'''

#2 tuple
'''tuple is a data type in python it is also contain the similer type of data as list but it's imutable, cant change the vlaues once created e.g (name',22,2.5,True)'''

#3 dictonary
""" It's contain the values with thier key only, {'key1':'name', 'age':34}"""

# Q4

'''4. What is an expression made up of? What do all expressions do?'''

In [ ]:
# Expression take multipale input and retun single output.

# Q5

'''5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?'''

In [ ]:
#Expression reduce the values and gives single output, but statement dosen't, Like 3+5=8 but "sum=3+8" is a statement.

# Q6

'''6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1
'''

In [13]:
bacon=22
print(bacon+1,'this is the final output.')
print('But still bacon contain', bacon)

23 this is the final output.
But still bacon contain 22

# Q7

'''7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3
'''

In [ ]:
# Let's ckeck values of:

'spam' + 'spamspam'
'spam' * 3

In [16]:
print('spam' + 'spamspam')
print('spam'*3)
print("Both statement gives same output.")

spamspamspam
spamspamspam
Both statement gives same output.

# Q8

8. Why is eggs a valid variable name while 100 is invalid?

Here in python programming language alphabatical letters only can use as variable it is a rule
in python, Python not accept the any numaric value as variable but we can use numaric values after a alphabets.

# Q9

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

for get the interger value we can use '''int''' function.

for get the floating value we can use '''float''' function.

for get the string value we can use '''str''' function.

# Q10

In [ ]:
'''10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'''

In [19]:
I have eaten ' + 99 + ' burritos.

SyntaxError: invalid syntax (<ipython-input-19-52898f359159>, line 1)

In [22]:
# In this expression has syntex error we can use inverted comma in between english words like:
print('I have eaten ',99,' burritos.')

I have eaten  99  burritos.