#### 1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.

In [16]:
test1 = 'This is a test of the emergency text system'

with open('C:\\Users\\neupaney\\Ineuron\\Assingments\\test.txt', 'w') as file:
    file.write(test1)

#### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [17]:
test2 = test1
print(test2)

This is a test of the emergency text system

#### 3. Create a CSV file called books.csv by using these lines:
'''title,author,year
    The Weirdstone of Brisingamen,Alan Garner,1960
    Perdido Street Station,China Miéville,2000
    Thud!,Terry Pratchett,2005
    The Spellman Files,Lisa Lutz,2007
    Small Gods,Terry Pratchett,1992'''

In [28]:
import csv

books = 'title,author,year The Weirdstone of Brisingamen,Alan Garner,1960 Perdido Street Station,China Miéville,2000 Thud!,Terry Pratchett,2005 The Spellman Files,Lisa Lutz,2007 Small Gods,Terry Pratchett,1992'
with open('books.csv', 'wt') as outfile:
    outfile.write(books)

#### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [33]:
import sqlite3
connection = sqlite3.connect('books.db')
set_n = connection.cursor()

set_n.execute('create table books(title varchar(20),author varchar(20), year int)')
connection.commit()

#### 5. Read books.csv and insert its data into the book table.

In [36]:
import pandas as pd

read_books = pd.read_csv('books.csv',encoding='unicode_escape')
read_books.to_sql('books', connection, if_exists='append', index = False)

0

#### 6. Select and print the title column from the book table in alphabetical order.

In [38]:
set_n.execute('select title from books order by title asc')
print(set_n.fetchall())

[]

#### 7. From the book table, select and print all columns in the order of publication.

In [39]:

set_n.execute('select title, author,year from books order by year')


df = pd.DataFrame(set_n.fetchall(), columns=['title','author','year'])
df

Empty DataFrame
Columns: [title, author, year]
Index: []

## Thank you